/* Add CSS Styling */


.project,
.project2 {
    background-color: #FFB6C1;
    font-family: Verdana, Tahoma, sans-serif;
}

.number-3-font {
    font-size: 24px;
}

#div {
    color: rgb(0, 0, 255); 
    font-family: Verdana; 
    font-size: 36px;
}

#Number-4 {
background-color: #90ee90;
font-size: 24px;
font-weight: bold;
}