/* Add CSS Styling */

.clickme,
.clickmeno {

    font-size: 28px;
    font-family: "Helvetica", "Times New Roman", sans-serif;

}

.no {
    background-color: yellow;
}

.clickme {
    background-color: black;
    color: white;
}