body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  border: 10px solid white;
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {

  padding: 10px;
  font-size: 16px;
  background: #e3f4ff;
}

.content {

  padding: 10px;
  background: #e3f4ff;
}

.button-container {

  text-align: center;
  margin: 10px;
  background: #e3f4ff;
  padding: 8px;

}

button {

  display: block;
  margin: 0 auto;
  padding: 8px 24px;
  border: 1px solid #eee;
  background: white;
}